:root {
	/* Typography */
	--font-family-primary: 'Avenir Next Variable';

	/* Colors */
	--color-core-background: #fff;
	--color-core-foreground: #000;
	--color-core-negative: #c60200;
	--color-core-positive: #228b22;

	/* Spacing */
	--base-spacing: 8px;
	--container-max: 124.8rem;

	/* Styling */
	--border-radius: 0.4rem;
}

/* Box sizing rules */
*,
*:before,
*:after {
	box-sizing: border-box;
}

::selection {
	background-color: #00231b;
	color: #00aa95;
}

html,
body {
	font-family: var(--font-family-primary, sans-serif);
	margin: 0;
	padding: 0;
}

html {
	font-size: 10px;

	@media (prefers-reduced-motion: no-preference) {
		scroll-behavior: smooth;
	}
}

body {
	background-color: var(--color-core-background);
	color: var(--color-core-foreground);
	font-size: 1.6rem;
}

fieldset {
	border: none;
	margin: 0;
	padding: 0;
}

:where(button) {
	appearance: none;
	background-color: transparent;
	border: 0;
	border-radius: 0;
	font-family: var(--font-family-primary, sans-serif);
	padding: 0;
}

:is(h1, h2, h3, h4, h5, h6, p, ol, ul) {
	margin-block: 0;
}

:is(ol, ul) {
	list-style: none;
	padding-inline: 0;
}

:where(a) {
	&:focus-visible {
		outline: 2px solid var(--color-core-forrest);
		outline-offset: -2px;
	}
}

.srOnly {
	block-size: 1px;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	inline-size: 1px;
	inset-block-start: 0;
	inset-inline-start: 0;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
}
