/* stylelint-disable property-no-vendor-prefix */

:root {
	/* Typography */
	--font-family-primary: 'Avenir Next Variable';

	/* Colors */
	--color-core-background: #fff;
	--color-core-foreground: #181818;
	--color-core-brand: #5f4dd5;
	--color-core-neutral: #f5f5f5;
	--color-core-inactive: #e0e0e0;
	--color-core-negative: #c60200;
	--color-core-positive: #228b22;

	/* Spacing */
	--base-spacing: 8px;

	/* Container */
	--container-max: 124.8rem;
	--container-min: 96rem;
	--container-padding: calc(var(--base-spacing) * 1.5);
	--max-page-width: 192rem;

	/* Styling */
	--border-radius: 0.4rem;

	/* Animations */
	--animation-duration-short: 0.15s;
	--animation-duration-medium: 0.3s;
}

/* Box sizing rules */
*,
*:before,
*:after {
	box-sizing: border-box;
}

::selection {
	background-color: var(--color-core-foreground);
	color: var(--color-core-background);
}

html,
body {
	font-family: var(--font-family-primary, sans-serif);
	margin: 0;
	padding: 0;
}

html {
	font-size: 10px;
	-webkit-text-size-adjust: 100%;

	@media (prefers-reduced-motion: no-preference) {
		scroll-behavior: smooth;
	}
}

body {
	background-color: var(--color-core-background);
	color: var(--color-core-foreground);
	font-size: 1.6rem;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

main {
	padding-block-end: calc(var(--base-spacing) * 2);
}

fieldset {
	border: none;
	margin: 0;
	padding: 0;
}

:where(button) {
	appearance: none;
	background-color: transparent;
	border: 0;
	border-radius: 0;
	font-family: var(--font-family-primary, sans-serif);
	padding: 0;
}

:is(h1, h2, h3, h4, h5, h6, p, ol, ul) {
	margin-block: 0;
}

:is(ol, ul) {
	list-style: none;
	padding-inline: 0;
}

:where(a) {
	color: inherit;
	
	&:focus-visible {
		outline: 2px solid var(--color-core-foreground);
		outline-offset: 2px;
	}
}

.srOnly {
	block-size: 1px;
	clip-path: inset(50%);
	inline-size: 1px;
	inset-block-start: 0;
	inset-inline-start: 0;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
}
