.errorSummary {
	max-inline-size: 75rem;
}

.form {
	display: grid;
	gap: calc(var(--base-spacing) * 4);
	justify-items: start;
	margin-inline: auto;
	max-inline-size: 60rem;
	padding-block: calc(var(--base-spacing) * 4);
}

.fieldset {
	max-inline-size: 65rem;
}

.field {
	min-inline-size: 30rem;
}

.jobCard {
	inline-size: 40rem;
} 

.previewMode {
	padding: calc(var(--base-spacing) * 2);
}

.registrationForm {
	align-items: center;
	display: grid;
	gap: calc(var(--base-spacing) * 2);
	margin-inline: auto;
	max-inline-size: 45rem;
}

.container {
	align-items: center;
	block-size: 100%;
	display: grid;
}

.containerInner {
	border: 2px solid #222;
	border-radius: 0.4rem;
	display: grid;
	padding: 10rem 3rem;
	place-items: center;
}

.loader {
	color: #000;
}
