.errorSummary {
	max-inline-size: 75rem;
}

.form {
	display: grid;
	gap: calc(var(--base-spacing) * 4);
	justify-items: start;
	margin-inline: auto;
	max-inline-size: 60rem;
	padding-block: calc(var(--base-spacing) * 4);
}

.fieldset {
	max-inline-size: 65rem;
}

.field {
	min-inline-size: 30rem;
}

.jobCard {
	inline-size: 40rem;
} 

.previewMode {
	padding: calc(var(--base-spacing) * 2);
}

.registrationForm {
	align-items: center;
	display: grid;
	margin-inline: auto;
	max-inline-size: 45rem;
}
