.field {
	flex-direction: column;
	gap: calc(var(--base-spacing) * 1.5);

	&:not([hidden]) {
		display: flex;
	}
}

.label {
	align-self: flex-start;
	color: var(--color-core-foreground);
}

.inputWrapper {
	position: relative;
}

.input {
	--border-color: var(--color-core-foreground);
	--border-color-mix: color-mix(in srgb, var(--border-color), #fff 80%);

	appearance: none;
	background-color: transparent;
	border: 0.2rem solid var(--border-color-mix);
	border-radius: var(--border-radius);
	color: var(--color-core-foreground);
	font-family: var(--font-family-primary, sans-serif);
	font-size: 1.6rem;
	inline-size: 100%;
	padding: calc(var(--base-spacing) * 1.5) calc(var(--base-spacing) * 2);

	&[aria-invalid='true'] {
		border-color: var(--color-core-negative);
	}

	&:focus-visible {
		outline: 2px solid var(--color-core-foreground);
		outline-offset: 2px;
	}

	&:has(~ .showPassword) {
		padding-inline-end: calc((var(--base-spacing) * 2) + 4.2rem);
	}
}

.showPassword {
	--password-transition: var(--animation-duration-short);
	--password-bg-color: var(--color-core-neutral);

	background-color: var(--password-bg-color);
	border: 0.2rem solid color-mix(in srgb, var(--color-core-neutral), #000 5%);
	border-radius: var(--border-radius);
	display: inline-grid;
	inset-block-start: 50%;
	inset-inline-end: var(--base-spacing);
	padding: calc(var(--base-spacing) / 2) var(--base-spacing);
	position: absolute;
	transform: translateY(-50%);

	&:focus-visible {
		outline: 2px solid var(--color-core-foreground);
	}

	@media (hover: hover) {
		&:hover {
			--password-bg-color: color-mix(
				in srgb,
				var(--color-core-neutral),
				#000 5%
			);
		}
	}

	@media (prefers-reduced-motion: no-preference) {
		transition: background-color var(--password-transition) ease-in-out;
	}
}

.validationMessage {
	align-items: center;
	color: var(--color-core-negative);
	display: inline-flex;
	gap: calc(var(--base-spacing) / 2);
}
