.field {
	display: flex;
	flex-direction: column;
	gap: calc(var(--base-spacing) * 1.5);
}

.inputWrapper {
	display: flex;
	gap: calc(var(--base-spacing) * 1.5);
	align-items: center;
}

.input {
	inline-size: 2rem;
	block-size: 2rem;
	margin: 0;
	border-radius: var(--border-radius);
	border: 1px solid var(--color-core-foreground);
	accent-color: var(--color-core-foreground);

	&:focus-visible {
		outline: 2px solid var(--color-core-foreground);
		outline-offset: 2px;
	}
}

.validationMessage {
	display: inline-flex;
	gap: calc(var(--base-spacing) / 2);
	align-items: center;
	color: var(--color-core-negative);
}
