.summary {
	--color-error: var(--color-core-negative);

	background-color: color-mix(in srgb, var(--color-error), #fff 80%);
	border-radius: calc(var(--border-radius) * 2);
	color: var(--color-core-foreground);
	display: grid;
	gap: calc(var(--base-spacing) * 2);
	grid-template-columns: 1fr auto;
	padding: calc(var(--base-spacing) * 2);

	&:focus {
		outline: 3px solid var(--color-error);
		outline-offset: 3px;
	}
}

.content {
	display: grid;
	gap: calc(var(--base-spacing) * 1.5);
}
