.base {
	display: flex;
	flex-direction: column;
	gap: calc(var(--base-spacing) * 2.5);
	margin-inline: auto;
	max-inline-size: var(--container-max);
	padding-inline: var(--container-padding);

	& .lastUpdated {
		align-items: center;
		display: flex;
		gap: calc(var(--base-spacing) * 1.5);
		position: relative;
	}
}
