.base {
	--text-color: black;
	--chevron-rotation: 0deg;

	background-color: #fff;
	border-color: #f1f1f1;
	border-radius: var(--border-radius);
	border-style: solid;
	border-width: 0.2rem;
	box-shadow:
		15px 15px 53px #f1f1f1,
		-15px -15px 53px #fff;
	color: inherit;
	display: grid;
	gap: calc(var(--base-spacing) * 3);
	grid-template-columns: 1fr auto;
	padding: 2rem;

	@media (width >= 650px) {
		grid-template-rows: 1fr 1.5fr 1fr auto;
	}

	& .dataFieldGroup {
		display: flex;
		flex-direction: column;
		gap: calc(var(--base-spacing) * 0.5);
		justify-self: start;
	}

	& .dataFullWidthSection {
		grid-column: 1 / span 2;
	}

	& details {
		color: black;
		overflow: hidden;

		& summary {
			color: var(--text-color);
			display: flex;
			justify-content: space-between;
			list-style: none;
			padding-block-start: calc(var(--base-spacing) * 2);
			transition: color var(--animation-duration-medium) linear;

			&::marker,
			&::-webkit-details-marker {
				display: none;
			}

			& .chevron {
				rotate: var(--chevron-rotation);
				transition: rotate var(--animation-duration-medium) ease-in-out;
			}

			@media (hover: hover) {
				&:hover {
					--chevron-rotation: 30deg;
					--text-color: var(--color-core-brand);
				}
			}
		}

		& .detailsContent {
			display: flex;
			flex-direction: column;
			gap: calc(var(--base-spacing) * 1.5);
		}
	}

	& details[open] {
		--chevron-rotation: 180deg;
		--text-color: var(--color-core-brand);

		& summary {
			margin-block-end: var(--base-spacing);

			@media (hover: hover) {
				&:hover {
					--chevron-rotation: 120deg;
				}
			}
		}
	}
}
