.base {
	background-color: #fff;
	border-color: #f1f1f1;
	border-radius: var(--border-radius);
	border-style: solid;
	border-width: 0.2rem;
	box-shadow:
		15px 15px 53px #f1f1f1,
		-15px -15px 53px #fff;
	color: inherit;
	display: grid;
	gap: calc(var(--base-spacing) * 3);
	grid-template-columns: 1fr auto;
	padding: 2rem;

	@media (width >= 650px) {
		grid-template-rows: 1fr 1.5fr 1fr auto;
	}

	& .dataFieldGroup {
		display: flex;
		flex-direction: column;
		gap: calc(var(--base-spacing) * 0.5);
		justify-self: start;
	}

	& .dataFullWidthSection {
		grid-column: 1 / span 2;
	}

	& details {
		overflow: hidden;

		& summary {
			list-style: none;

			&::marker,
			&::-webkit-details-marker {
				display: none;
			}
		}

		& .detailsContent {
			display: flex;
			flex-direction: column;
			gap: calc(var(--base-spacing) * 1.5);
		}

		&[open] {
			& summary {
				margin-block-end: var(--base-spacing);

				& svg {
					transform: rotate(180deg);
					transition: transform var(--animation-duration-medium)
						ease-in-out;
				}
			}
		}
	}
}
