.base {
	display: flex;
	flex-direction: column;
	gap: calc(var(--base-spacing) * 3);
}

.textWrapper {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	gap: var(--base-spacing);
}

.inputsContainer {
	display: flex;
	flex-direction: column;
	gap: calc(var(--base-spacing) * 4);
}

.callout {
	margin-block-start: var(--base-spacing);
}

.textInput input {
	inline-size: min(30rem, 100%);
}
