@value --breakpoints: '../../../styles/modules/breakpoints.module.css';
@value --bp-tiny from --breakpoints;

.container {
	display: flex;
	flex-direction: column;
	gap: calc(var(--base-spacing) * 3);

	@media (--bp-tiny) {
		gap: calc(var(--base-spacing) * 5);
	}
}

.meta {
	align-items: center;
	display: grid;
	gap: calc(var(--base-spacing) * 3);
	grid-template-columns: repeat(auto-fit, minmax(min(100%, 25rem), 1fr));
}

.loader {
	align-self: center;
}
