@value --breakpoints: '../../../styles/modules/breakpoints.module.css';
@value --bp-tiny from --breakpoints;

.jobs {
	display: flex;
	flex-direction: column;
	min-block-size: 100svh;
}

.main {
	display: flex;
	flex: 1;
	flex-direction: column;
}

.container {
	block-size: 100%;
	display: flex;
	flex: 1;
	flex-direction: column;
	gap: calc(var(--base-spacing) * 3);

	@media (--bp-tiny) {
		gap: calc(var(--base-spacing) * 5);
	}
}

.meta {
	align-items: center;
	display: grid;
	gap: calc(var(--base-spacing) * 3);
	grid-template-columns: repeat(auto-fit, minmax(min(100%, 25rem), 1fr));
}

.loading {
	place-content: center center;
	display: grid;
	flex: 1;
	gap: calc(var(--base-spacing) * 2);
	text-align: center;
}

.loader {
	align-self: center;
}
