.base {
	--color: var(--color-core-foreground);

	align-items: center;
	background-color: color-mix(in srgb, var(--color), white 85%);
	border-radius: calc(var(--border-radius) * 3);
	color: var(--color-core-foreground);
	display: inline-flex;
	gap: calc(var(--base-spacing) * 1.5);
	padding: calc(var(--base-spacing) * 1.8) calc(var(--base-spacing) * 2);
}

.background {
	--color: var(--color-core-background);
}

.brand {
	--color: var(--color-core-brand);
}

.neutral {
	--color: var(--color-core-neutral);
}

.inactive {
	--color: var(--color-core-inactive);
}

.negative {
	--color: var(--color-core-negative);
}

.positive {
	--color: var(--color-core-positive);
}
