.fieldset {
	border: none;
	justify-items: start;
	margin: 0;
	padding: 0;

	& > :not([hidden]) ~ :not([hidden]) {
		margin-block-start: calc(var(--base-spacing) * 1.5);
	}
}

.fields {
	inline-size: 100%;
}

.radioFields {
	display: grid;
	gap: calc(var(--base-spacing) * 1.5);
	grid-template-columns: repeat(auto-fill, minmax(30rem, auto));
}

.selectFields {
	display: flex;
	gap: calc(var(--base-spacing) * 3);
}

.inputFields {
	display: grid;
	gap: calc(var(--base-spacing) * 3);
	max-inline-size: 40rem;
}

.validationMessage {
	align-items: center;
	color: var(--color-core-negative);
	display: flex;
	gap: var(--base-spacing);
	position: relative;
}
