.inner {
	display: grid;
	gap: calc(var(--base-spacing) * 2.5);
	max-inline-size: 70rem;
}

.errorSummary {
	inline-size: max-content;
}

.form {
	& > :is(fieldset):not([hidden]) ~ :is(fieldset):not([hidden]) {
		border-block-start: 2px solid var(--color-core-inactive);
		padding-block-start: calc(var(--base-spacing) * 4);
	}

	& > :is(fieldset):last-of-type {
		border-block-end: 2px solid var(--color-core-inactive);
		padding-block-end: calc(var(--base-spacing) * 4);
	}

	/* hide finance information except po number when siu/sft checked */
	&:has([id='siu']:checked) [id='finance-information'],
	&:has([id='sft']:checked) [id='finance-information'] {
		& [id='company-address'],
		& [data-e2e-id='text-input']:has([id='finance-email']) {
			display: none;
		}
	}
}
