.container {
	display: flex;
	flex-direction: column;
	gap: calc(var(--base-spacing) * 3);
	padding-block: calc(var(--base-spacing) * 3);
}

.cards {
	display: grid;
	gap: calc(var(--base-spacing) * 3);
	grid-template-columns: repeat(auto-fit, minmax(min(100%, 30rem), 1fr));
	line-break: anywhere;
}

.cardTitle {
	align-items: center;
	display: flex;
	gap: calc(var(--base-spacing) * 0.7);
}

.submitMessage {
	--foreground-color: var(--color-core-foreground);
	--background-color: var(--color-core-inactive);

	background-color: var(--background-color);
	border-color: var(--foreground-color);
	border-radius: var(--border-radius);
	border-style: solid;
	border-width: 2px;
	color: var(--foreground-color);
	padding: var(--base-spacing);

	&.success {
		--foreground-color: color-mix(
			in srgb,
			var(--color-core-positive),
			#000 20%
		);
		--background-color: color-mix(
			in srgb,
			var(--color-core-positive),
			#fff 90%
		);
	}

	&.error {
		--foreground-color: color-mix(
			in srgb,
			var(--color-core-negative),
			#000 20%
		);
		--background-color: color-mix(
			in srgb,
			var(--color-core-negative),
			#fff 90%
		);
	}
}
