.base {
	color: inherit;
	display: flex;
	flex-direction: column;
	gap: calc(var(--base-spacing) * 1.5);
}

ul.base:not(:has(svg)) {
	list-style: disc outside;
	margin-inline-start: 2rem;

	li {
		display: list-item;
	}
}

ol.base:not(:has(svg)) {
	list-style: decimal outside;
	margin-inline-start: 2rem;

	li {
		display: list-item;
	}
}

.listItem {
	align-items: center;
	display: inline-flex;
	gap: var(--base-spacing);
}
