.base {
	color: inherit;
	display: flex;
	flex-direction: column;
	gap: var(--base-spacing);
}

.list:is(ul):not(:has(svg)) {
	list-style: disc outside;
	margin-inline-start: 2rem;

	li {
		display: list-item;
	}
}

.list:is(ol):not(:has(svg)) {
	list-style: decimal outside;
	margin-inline-start: 2rem;

	li {
		display: list-item;
	}
}

.listItem {
	align-items: center;
	display: inline-flex;
	gap: var(--base-spacing);

	& svg {
		flex-shrink: 0;
	}
}
