@value --breakpoints: '../../../styles/modules/breakpoints.module.css';
@value --bp-tiny from --breakpoints;

.hero {
	padding-block: calc(var(--base-spacing) * 2.5);

	@media (--bp-tiny) {
		padding-block: calc(var(--base-spacing) * 5);
	}
}

.container,
.content {
	& > :not([hidden]) ~ :not([hidden]) {
		margin-block-start: calc(var(--base-spacing) * 3);
	}
}

.inner {
	display: grid;
	gap: calc(var(--base-spacing) * 2.5);
	padding-block-end: calc(var(--base-spacing) * 5);
}

.content {
	max-inline-size: 80rem;
}

.bodyText {
	& > :not([hidden]) ~ :not([hidden]) {
		margin-block-start: calc(var(--base-spacing) * 3);
	}

	& > h2:not([hidden]) ~ h2:not([hidden]) {
		margin-block-start: calc(var(--base-spacing) * 6);
	}
}
