@value --breakpoints: '../../../styles/modules/breakpoints.module.css';
@value --bp-tiny from --breakpoints;

.nav {
	@media (--bp-tiny) {
		max-inline-size: max-content;
	}
}

.list {
	display: flex;
	flex-wrap: wrap;
	gap: calc(var(--base-spacing) * 3);
	justify-content: space-between;
}

.item {
	flex: 1;
	max-inline-size: max-content;
	padding-block-end: calc(var(--base-spacing) * 0.5);
}

.item:has([aria-current='page']) {
	border-block-end: calc(var(--base-spacing) * 0.5) solid
		var(--color-core-brand);
}

.link {
	align-items: center;
	border-radius: var(--border-radius);
	color: var(--color-core-foreground);
	display: flex;
	flex-direction: column;
	gap: calc(var(--base-spacing) * 0.5);

	&[aria-current='page'] {
		color: var(--color-core-brand);
	}

	&:focus-visible {
		outline-color: var(--color-core-brand);
	}

	@media (prefers-reduced-motion: no-preference) {
		text-decoration: none;
	}

	@media (hover: hover) {
		&:hover {
			color: var(--color-core-brand);
		}
	}
}
