.jobs {
	align-items: start;
	color: inherit;
	display: grid;
	gap: calc(var(--base-spacing) * 3);
	grid-template-columns: repeat(auto-fill, minmax(min(100%, 31rem), 1fr));
}

.centerAlignedText {
	align-items: center;
	display: flex;
	gap: calc(var(--base-spacing) * 0.6);
}
