.base {
	align-items: center;
	border: 2px solid var(--color-core-inactive);
	border-radius: calc(var(--border-radius) * 1.15);
	display: grid;
	gap: calc(var(--base-spacing) * 2.5);
	grid-template-columns: 1fr 22px;
	padding: calc(var(--base-spacing) * 1.75);
	position: relative;

	&.withTitle {
		align-items: flex-start;

		.contentWrapper {
			align-items: flex-start;
			flex-direction: column;
			gap: calc(var(--base-spacing) * 2.25);
		}
	}

	&:has(:checked) {
		background-color: color-mix(
			in srgb,
			var(--color-core-brand),
			white 90%
		);
		border-color: var(--color-core-brand);
	}
}

.contentWrapper {
	align-items: center;
	display: flex;
	gap: calc(var(--base-spacing) * 1.25);
	justify-content: flex-start;
}

.textWrapper {
	display: flex;
	flex-direction: column;
	gap: calc(var(--base-spacing) * 0.5);
}

.radio {
	appearance: none;
	block-size: 100%;
	inline-size: 100%;
	inset-block-start: 0;
	inset-inline-start: 0;
	margin: 0;
	position: absolute;

	&:not(:checked) ~ .radioCircle .radioTick {
		display: none;
	}
}

.radioCircle {
	block-size: 22px;
	border: 2px solid var(--color-core-inactive);
	border-radius: 100%;
	display: block;
	inline-size: 22px;
	position: relative;
}

.radioTick {
	inset-block-start: -5px;
	inset-inline-start: -5px;
	position: absolute;
}
