.field {
	--radio-border: 0 0 0 0.2rem var(--color-core-inactive) inset;

	border-radius: calc(var(--border-radius) * 1.15);
	position: relative;
}

.input {
	appearance: none;
	block-size: 100%;
	border-radius: inherit;
	inline-size: 100%;
	inset: 0;
	margin: 0;
	position: absolute;
}

.input:checked + .inner {
	--input-bg-color: color-mix(in srgb, var(--color-core-brand), white 90%);
	--input-border-color: var(--color-core-brand);
}

.input:checked + .inner .radio {
	--radio-border: none;
}

.input:checked ~ .inner .radio .radioTick {
	display: block;
}

.input:focus-visible {
	outline: 0.2rem solid var(--color-core-brand);
	outline-offset: 0.2rem;
}

.inner {
	--input-bg-color: var(--color-core-background);
	--input-border-color: var(--color-core-inactive);

	align-items: center;
	background-color: var(--input-bg-color);
	border: 0.2rem solid var(--input-border-color);
	border-radius: inherit;
	display: flex;
	gap: calc(var(--base-spacing) * 1.5);
	padding: calc(var(--base-spacing) * 1.75);

	&:has(.icon):has(.hint) {
		display: grid;
	}

	&:has(.icon):has(.hint) :is(.icon, .radio) {
		grid-row: 1;
	}

	&:has(.icon):has(.hint) :is(.content) {
		grid-row: 2;
	}
}

.content {
	display: grid;
	gap: var(--base-spacing);
}

.label {
	color: var(--color-core-navy);
	position: relative;
}

.radio {
	align-items: center;
	block-size: 2.8rem;
	border-radius: 100%;
	box-shadow: var(--radio-border);
	display: flex;
	flex-direction: column;
	inline-size: 2.8rem;
	justify-content: center;
}

.radioTick {
	display: none;
}
