.display {
	display: grid;
	gap: calc(var(--base-spacing) * 3);
}

.list {
	display: grid;
	gap: calc(var(--base-spacing) * 3);
	grid-template-columns: repeat(auto-fill, minmax(min(100%, 30rem), 1fr));
}
