@value --breakpoints: '../../../styles/modules/breakpoints.module.css';
@value --bp-tiny_max from --breakpoints;

.card {
	--card-radius: calc(var(--border-radius) * 2);

	block-size: 100%;
	border: 2px solid var(--color-core-neutral);
	border-radius: var(--card-radius);
	display: grid;
	gap: calc(var(--base-spacing) * 4);
	padding: calc(var(--base-spacing) * 2);
}

.content {
	align-content: start;
	border-radius: var(--card-radius);
	display: grid;
	gap: calc(var(--base-spacing) * 3);
}

.header {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	gap: calc(var(--base-spacing) * 2);
	justify-content: space-between;
}

.list {
	display: grid;
	gap: calc(var(--base-spacing) * 1.5) calc(var(--base-spacing) * 3);
	grid-template-columns: auto 1fr;
}

.item {
	display: contents;
}

.dd {
	margin: 0;
	text-align: end;
}

.details {
	--chevron-rotation: 0deg;

	&[open] {
		--chevron-rotation: 180deg;

		@media (hover: hover) {
			& .summary:hover {
				--chevron-rotation: 120deg;
			}
		}
	}

	@media (hover: hover) {
		& .summary:hover {
			--chevron-rotation: 30deg;
		}
	}
}

.summary {
	align-items: center;
	border-radius: calc(var(--border-radius) / 2);
	display: flex;
	justify-content: space-between;

	&:focus-visible {
		outline: 2px solid currentcolor;
		outline-offset: 2px;
	}

	&::marker,
	&::-webkit-details-marker {
		display: none;
	}
}

.summaryContent {
	margin-block-start: var(--base-spacing);
}

.chevron {
	rotate: var(--chevron-rotation);

	@media (prefers-reduced-motion: no-preference) {
		transition: rotate var(--animation-duration-medium) ease-in-out;
	}
}

.button {
	place-self: end start;
}

.textLink {
	justify-self: start;
}
